#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1




configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	mkdir -p $(CURDIR)/debian/airs/usr/share/apps/airs
	cp airs.py $(CURDIR)/debian/airs/usr/share/apps/airs/airs.py
	cp airs.ico $(CURDIR)/debian/airs/usr/share/apps/airs/airs.ico
	cp -r gui $(CURDIR)/debian/airs/usr/share/apps/airs/gui
	cp -r data $(CURDIR)/debian/airs/usr/share/apps/airs/data
	cp -r www $(CURDIR)/debian/airs/usr/share/apps/airs/www
	cp -r xslt $(CURDIR)/debian/airs/usr/share/apps/airs/xslt
	cp -r webserver $(CURDIR)/debian/airs/usr/share/apps/airs/webserver
	cp airs.desktop $(CURDIR)/debian/airs/usr/share/applications/airs.desktop
	cp airs $(CURDIR)/debian/airs/usr/bin/airs
	chmod +x $(CURDIR)/debian/airs/usr/bin/airs
	
# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
