
/* body of airs pages */
body 
{
    color: #000000;
    background-color: #ffffff; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#title
{
   font-size: 110%;
   font-style: bold,underline;
}

a img 
{
    border: 0;
}

