a.subcaption, a.subcaption:visited
{
    font-size: 115%;
}

a.series, a.withmedia, a.nomedia
{
    font-size: 125%;
}


div.headertext
{
    font-size: 135%;
}

#title
{
    font-size: 180%;
}

div.seriescount
{
    font-size: 115%;
}

a.subcaption 
{
    font-size: 100%;
}

a.playfile
{
    font-size: 120%;
}

#epaired 
{
    font-size: 130%;
}

#orphaned
{
    font-size: 130%;
}

#epunaired
{
    font-size: 130%;
}


#titlespacing
{
    margin-bottom: 10pt;
}


