
/* body of airs pages */
body 
{
    color: #ffffff;
    background-color: #00005c; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

tr.oddrow 
{
    background-color: #00007a;
}

td.header
{
    border-bottom-style: dashed; 
    border-bottom-color: #ffffff; 
    border-bottom-width: 1px;
    padding-right: 10pt;
    margin-bottom: 4pt;
}

#headertext
{
    font-style: italic;
    font-size: 150%;
}

/* the title of the contents */
#title
{
    font-size: 300%;
    color: #eae975;
}

#titlespacing
{
    margin-bottom: 20pt;
}

a, a:visited
{
    text-decoration: none;
    color: #acacac;
    font-style: bold;
}

a.series
{
    font-size: 150%;
}

#seriescount
{
    font-size: 150%;
}

a.subcaption 
{
    font-size: 130%;
    font-style: italic;
}

a.playfile
{
    font-size: 130%;
    font-style: normal;
    color: #c4c4c4;
}

#epaired 
{
    color: #d6d66e;
    font-style: bold;
    font-size: 180%;
}

#orphaned
{
    color: #d6d66e;
    font-style: normal;
    font-size: 180%;
}


#epunaired
{
    color: #646464;
    font-style: normal;
    font-size: 180%;
}

#seriestitle
{
    margin-left: 20pt;
}

td.eprow
{
    vertical-align: top;
    padding-right: 10pt;
    border-collapse:collapse;
    border-width: 0px;
/*    border-bottom-style: solid; 
    border-bottom-color: #4b4bff; 
    border-bottom-width: 1px; */    
}

tr.eprow2
{
    vertical-align: center;
}


/* TODO: Fix gap in table */


/* ---- CSS TO CONSIDER TO CHANGE FOLLOWS HERE! --- */

/* overall div that encapsulates all content */


#seriescount
{
    margin-left: 20pt;
}


a:hover 
{
    text-decoration: underline;
    color: #fff700;
}

a img 
{
    border: 0;
}


