
/* body of airs pages */
body 
{
    color: #ffffff;
    background-color: #00005c; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/*
td.seriestitle, td.number
{
    border-bottom: 1px solid #0000ff;
    padding: 0;  
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;  
}
*/

tr.oddrow 
{
    background-color: #00007a;
}

td.header
{
    border-bottom-style: dashed; 
    border-bottom-color: #ffffff; 
    border-bottom-width: 1px;
}

table.episodes
{
    /* width: 100%; */
}

td.percentage
{
    width: 60pt;
}

td.number
{
    text-align: right;
}

#overall
{
    /* width: 80%; */
}

#headertext
{
    font-style: italic;
    font-size: 170%;
}

#percdiff
{
    width: 100%;
    font-size: 130%;
    text-align: left;
    position:relative;
/*    border:1;
    border-style: solid;
    border-color: white;
    border-width: 1px; */
    border-width: 0px;
}

#percinner
{
    padding: 0.25em;  
    text-align: left;
    position:relative;
    height:18pt;
    left:0px;  
    border:1;
    border-style: solid;
    border-color: blue;
    border-width: 1px; 
    background-color: #00007d;
}

/* the title of the contents */
#title
{
    font-size: 300%;
    color: #eae975;
}

#titlespacing
{
    margin-bottom: 20pt;
}

a, a:visited
{
    text-decoration: none;
    color: #acacac;
    font-style: bold;
}

a.series, a.withmedia, a.nomedia
{
    font-size: 150%;
}

a.withmedia 
{
    color: #5af85a;
}

a.nomedia 
{
    color: #ec4d4d;
}


#seriescount
{
    font-size: 150%;
}

a.subcaption 
{
    font-size: 130%;
    font-style: italic;
}

a.playfile
{
    font-size: 130%;
    font-style: normal;
    color: #c4c4c4;
}


a.search
{
    font-size: 110%;
    font-style: italic;
    border-margin: 4px;
    border-style: none;
    background-color: #0b2c68; 
    color: #ffffff;
    border: 1px solid #748AAA;
    padding: 0.25em;  
    margin-right: 3pt;  
}

td.search
{
    text-align: right;
}

#searchblock
{
  margin-top: 5pt;
  margin-left: 10pt;
  margin-bottom: 10pt;
}

#epaired 
{
    color: #d6d66e;
    font-style: bold;
    font-size: 180%;
}

#orphaned
{
    color: #d6d66e;
    font-style: normal;
    font-size: 180%;
}


#epunaired
{
    color: #646464;
    font-style: normal;
    font-size: 180%;
}

#seriestitle
{
    margin-left: 20pt;
}

td.eprow
{
    vertical-align: top;
    padding-right: 10pt;
    border-collapse:collapse;
    border-width: 0px;
/*    border-bottom-style: solid; 
    border-bottom-color: #4b4bff; 
    border-bottom-width: 1px; */    
}

tr.eprow2
{
    vertical-align: center;
}


/* TODO: Fix gap in table */


/* ---- CSS TO CONSIDER TO CHANGE FOLLOWS HERE! --- */

/* overall div that encapsulates all content */


#seriescount
{
    margin-left: 20pt;
}


a:hover 
{
    text-decoration: underline;
    color: #fff700;
}

a img 
{
    border: 0;
}


