
body 
{
    background-image: url("/www/tv/background.png");
}

a.subcaption, a.subcaption:visited
{
    font-size: 130%;
}

#subcaption
{
    margin-bottom: 15pt;
}

table.episodes
{
    width: 100%;
}

td.percentage
{
    width: 60pt;
}

td.number
{
    text-align: right;
}

#overall
{
    width: 80%;
}

div.headertext
{
    font-size: 170%;
}

div.percdiff
{
    width: 88%;
    font-size: 130%;
}

div.percinner
{
    padding: 0.25em;  
    height:18pt;
}

#title
{
    font-size: 300%;
}

#titlespacing
{
    margin-bottom: 20pt;
}

a.series, a.withmedia, a.nomedia
{
    font-size: 150%;
}

div.seriescount
{
    font-size: 150%;
}

a.subcaption 
{
    font-size: 130%;
}

a.playfile
{
    font-size: 130%;
}


a.search
{
    font-size: 110%;
    border-margin: 4px;
    padding: 0.25em;  
    margin-right: 3pt;  
}

#searchblock
{
  margin-top: 5pt;
  margin-left: 10pt;
  margin-bottom: 10pt;
}

#epaired 
{
    font-size: 180%;
}

#orphaned
{
    font-size: 180%;
}


#epunaired
{
    font-size: 180%;
}

#seriestitle
{
    margin-left: 20pt;
}

td.eprow
{
    padding-right: 10pt;
}

tr.eprow2
{
    vertical-align: center;
}

#copyright
{
    margin-top: 20pt;
    font-size: 120%;
}


div.seriescount
{
    margin-left: 20pt;
}


